Pornesc de la data-frame-ul pe care l-am creat data trecută folosind websockets. Câmpurile pe care le am în vedere sunt:
- `price` - prețul unitar folosit în trazacționarea unei valori mobiliare,
- `symbol` - identificatorul respectivei valori mobiliare,
- `time` - timpul, în format date-time la care s-a realizat tranzacția,
- `stamp` - timpul în microsecunde, începând cu 1 ianuarie 1970 și
- `volume` - numărul de unități tranzacționate.

În blocul de cod următor inițializez un astfel de data-frame:

In [1]:
import pandas as pd

df = pd.DataFrame(columns = ['price', 'symbol', 'time', 'stamp', 'volume'])

Pentru că am vorbit de timp, hai să văd cum funcționează timpul:

In [2]:
import datetime

utc_datetime_ms = int(1000 * datetime.datetime.now().timestamp())

utc_object = datetime.datetime.utcfromtimestamp(utc_datetime_ms // 1000)

print(utc_object, 'UTC <=>', utc_datetime_ms, 'ms')

2020-09-22 15:57:33 UTC <=> 1600790253167 ms

Pentru a adăuga date în data-frame, folosesc `append` și îmi amintesc că `append` crează o copie a data-frame-ului inițial și nu-l modifică pe acesta, ci direct copia:

In [3]:
df = df.append({
    'price': 1,
    'symbol': 'BOGDAN',
    'time': utc_object,
    'stamp': utc_datetime_ms,
    'volume': 100
}, ignore_index = True)

Data-frame-ul obținut arată așa:

In [4]:
df

  price  symbol                time          stamp volume
0     1  BOGDAN 2020-09-22 15:57:33  1600790253167    100

Pentru a mă conecta la baza de date, am nevoie de modulele `sqlalchemy` și `mysqlclient` pe care le voi completa în `requirements.txt`. Conexiunea la baza de date `MySQL` sau `MariaDB` se face cu un URL de conexiune care are forma:

`{database_type}://{user_name}:{password}@{host}[:{port}]/{database_name}`

In [5]:
from sqlalchemy import create_engine

engine = create_engine('mysql://root:raspberry@localhost/tradingbot')

Pentru a salva data-frame-ul în baza de date e suficient să rulez blocul de mai jos:

In [6]:
df.to_sql(
    name = 'transactions', # table name
    con = engine,          # connection name
    if_exists = 'append',  # what happens with the data
    index = False,         # ignore the row numbers
    method = 'multi'       # should be a little bit faster
)

Pot verifica tabelul nou creat în baza de date folosind următoarele linii SQL în clientul `mysql`:

```sql
[tradingbot]> select * from transactions;
+-------+--------+---------------------+---------------+--------+
| price | symbol | time                | stamp         | volume |
+-------+--------+---------------------+---------------+--------+
|     1 | BOGDAN | 2020-09-22 14:56:25 | 1600786585190 |    100 |
+-------+--------+---------------------+---------------+--------+
[tradingbot]> show create table transactions;
+--------------+--------------------------------------------------------------------+
| Table        | Create Table                                                       |
+--------------+--------------------------------------------------------------------+
| transactions | CREATE TABLE `transactions` (                                      |
|              |   `price` bigint(20) DEFAULT NULL,                                 |
|              |   `symbol` text DEFAULT NULL,                                      |
|              |   `time` datetime DEFAULT NULL,                                    |
|              |   `stamp` bigint(20) DEFAULT NULL,                                 |
|              |   `volume` bigint(20) DEFAULT NULL                                 |
|              | ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4                            |
+--------------+--------------------------------------------------------------------+
```

In [7]:
df.to_sql(
    name = 'transactions',
    con = engine,
    if_exists = 'append',
    index = False,
    method = 'multi'
)

Dacă mai rulez o dată căsuța de mai sus cu metoda `to_sql`, rezultatul va fi:
```sql
[tradingbot]> select * from transactions;
+-------+--------+---------------------+---------------+--------+
| price | symbol | time                | stamp         | volume |
+-------+--------+---------------------+---------------+--------+
|     1 | BOGDAN | 2020-09-22 14:56:25 | 1600786585190 |    100 |
|     1 | BOGDAN | 2020-09-22 14:56:25 | 1600786585190 |    100 |
+-------+--------+---------------------+---------------+--------+
```

Lucrul ăsta e super, că funcționează fără să știu mare lucru din spate. Doar că înregistrarea asta e de două ori și m-ar interesa să am o singură tranzacție cu aceeași parametrii. Pentru asta, trebuie să scriu puțin mai mult cod. În primul rând, să definesc eu tabelul din prima. Hai să șterg tabelul deja creat ca să pot să verific dacă totul funcționează corect:

```sql
[tradingbot]> drop table transactions;
Query OK, 0 rows affected (0.019 sec)
```

In [8]:
from sqlalchemy.types import BigInteger, Float, String, DateTime, Float
from sqlalchemy import MetaData, Table, Column, Index

meta = MetaData()
table = Table(
    'transactions', meta, 
    Column('id', BigInteger, primary_key = True),
    Column('price', Float), 
    Column('symbol', String(32)),
    Column('time', DateTime),
    Column('stamp', BigInteger),
    Column('volume', Float)
)

Codul de mai sus nu a creat încă un tabel cu numele `transactions`:

```sql
[tradingbot]> select * from transactions;
ERROR 1146 (42S02): Table 'tradingbot.transactions' doesn't exist
```
Totuși înainte să merg mai departe mă gândesc la două lucruri:
- cel mai probabil voi face căutări în tabel după coloana `symbol`;
- aș vrea ca perechea (`symbol`, `stamp`) să fie unică.

In [9]:
Index('symbol', table.c.symbol)
Index('symbol_stamp', table.c.symbol, table.c.stamp, unique = True)

Index('symbol_stamp', Column('symbol', String(length=32), table=<transactions>), Column('stamp', BigInteger(), table=<transactions>), unique=True)

Și abia acum pot să creez tabelul:

In [10]:
meta.create_all(engine)

Verific:

```sql
[tradingbot]> show create table transactions;
+--------------+--------------------------------------------------------------------+
| Table        | Create Table                                                       |
+--------------+--------------------------------------------------------------------+
| transactions | CREATE TABLE `transactions` (                                      |
|              |   `id` bigint(20) NOT NULL AUTO_INCREMENT,                         |
|              |   `price` float DEFAULT NULL,                                      |
|              |   `symbol` varchar(32) DEFAULT NULL,                               |
|              |   `time` datetime DEFAULT NULL,                                    |
|              |   `stamp` bigint(20) DEFAULT NULL,                                 |
|              |   `volume` float DEFAULT NULL,                                     |
|              |   PRIMARY KEY (`id`),                                              |
|              |   UNIQUE KEY `symbol_stamp` (`symbol`,`stamp`),                    |
|              |   KEY `symbol` (`symbol`)                                          |
|              | ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4                            |
+--------------+--------------------------------------------------------------------+
```

Rulez căsuța cu `to_sql` să văd ce se întâmplă:

In [11]:
df.to_sql(
    name = 'transactions',
    con = engine,
    if_exists = 'append',
    index = False,
    method = 'multi'
)

```sql
[tradingbot]> select * from transactions;
+----+-------+--------+---------------------+---------------+--------+
| id | price | symbol | time                | stamp         | volume |
+----+-------+--------+---------------------+---------------+--------+
|  1 |     1 | BOGDAN | 2020-09-22 14:56:25 | 1600786585190 |    100 |
+----+-------+--------+---------------------+---------------+--------+
```

Și dacă mai rulez o dată:

In [12]:
df.to_sql(
    name = 'transactions',
    con = engine,
    if_exists = 'append',
    index = False,
    method = 'multi'
)

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry 'BOGDAN-1600790253167' for key 'symbol_stamp'")
[SQL: INSERT INTO transactions (price, symbol, time, stamp, volume) VALUES (%s, %s, %s, %s, %s)]
[parameters: (1, 'BOGDAN', datetime.datetime(2020, 9, 22, 15, 57, 33), 1600790253167, 100)]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

Ce e foarte tare e că `MySQL` (`MariaDB`) au o metodă implicită pentru a rezolva problema asta - `INSERT IGNORE`. Doar că pentru a o putea folosi cu un data-frame, trebuie să fac o șmecherie - prilej pentru care pot să-ți arăt ce sunt decoratoarele în Python.

Tot ce trebuie să fac e să modific cum funcționează `INSERT` în `sqlalchemy`.

In [13]:
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Insert

# adds the word IGNORE after INSERT in sqlalchemy
@compiles(Insert)
def _prefix_insert_with_ignore(insert, compiler, **kwords):
    return compiler.visit_insert(insert.prefix_with('IGNORE'), **kwords)

Hai să văd dacă merge și după aia văd exact ce înseamnă un decorator:

In [14]:
df.to_sql(
    name = 'transactions',
    con = engine,
    if_exists = 'append',
    index = False,
    method = 'multi'
)

Uhuu! Fără erori! În baza de date în schimb n-a apărut nimic:
```sql
[tradingbot]> select * from transactions;
+----+-------+--------+---------------------+---------------+--------+
| id | price | symbol | time                | stamp         | volume |
+----+-------+--------+---------------------+---------------+--------+
|  1 |     1 | BOGDAN | 2020-09-22 14:56:25 | 1600786585190 |    100 |
+----+-------+--------+---------------------+---------------+--------+
1 row in set (0.000 sec)
```

Hai să mai adaug o dată în data-frame-ul meu:

In [15]:
utc_datetime_ms = int(1000 * datetime.datetime.now().timestamp())
utc_object = datetime.datetime.utcfromtimestamp(utc_datetime_ms // 1000)
df = df.append({
    'price': 1,
    'symbol': 'BOGDAN',
    'time': utc_object,
    'stamp': utc_datetime_ms,
    'volume': 100
}, ignore_index = True)

Verific să văd că noul rând are un alt stamp:

In [16]:
df

  price  symbol                time          stamp volume
0     1  BOGDAN 2020-09-22 15:57:33  1600790253167    100
1     1  BOGDAN 2020-09-22 15:58:11  1600790291507    100

Și rulez din nou căsuța cu `to_sql`:

In [17]:
df.to_sql(
    name = 'transactions',
    con = engine,
    if_exists = 'append',
    index = False,
    method = 'multi'
)

Fără erori și obțin:

```sql
[tradingbot]> select * from transactions;
+----+-------+--------+---------------------+---------------+--------+
| id | price | symbol | time                | stamp         | volume |
+----+-------+--------+---------------------+---------------+--------+
|  1 |     1 | BOGDAN | 2020-09-22 14:56:25 | 1600786585190 |    100 |
|  4 |     1 | BOGDAN | 2020-09-22 15:41:53 | 1600789313368 |    100 |
+----+-------+--------+---------------------+---------------+--------+
2 rows in set (0.001 sec)
```

Acum, ce înseamnă un decorator? E o construcție care modifică o funcție. Hai să iau un caz simplu. Să zicem că am o funcție, `succesor` care calculează succesorul unui număr întreg:

In [18]:
def succesor(n):
    return n + 1

succesor(2), succesor(3)

(3, 4)

Aș vrea acum ca fără să redefinesc funcția `succesor` - că poate face parte dintr-un modul pe care l-am încărcat în scriptul curent - să o fac să îmi întoarcă următorul număr impar după numărul întreg pe care l-am dat ca parametru. Pentru asta, definesc o funcție care să modifice `succesor`:

In [19]:
def oddsuccesor(func):
    def wrapper(n):
        res = func(n)
        if res%2 == 0:
            res = res + 1
        return res
    return wrapper

Și redefinesc funcția `succesor` folosind atribuirea de mai jos:

In [20]:
succesor = oddsuccesor(succesor)

Și uite:

In [21]:
succesor(2), succesor(3)

(3, 5)

Acum, Python îmi pune la dispoziție ceva ce se numește ”syntactic sugar”. Adică, pot să scriu mult mai simplu, asta:

In [22]:
@oddsuccesor
def succesor(n):
    return n + 1

In [23]:
succesor(2), succesor(3)

(3, 5)

O ultimă șmecherie e când poate nu știu ce argumente are funcția pe care vreau să o decorez și atunci pot să folosesc ceva de genul:

In [24]:
def oddsuccesor(func):
    def wrapper(*args, **kwargs):
        res = func(*args, **kwargs)
        if res%2 == 0:
            res = res + 1
        return res
    return wrapper

@oddsuccesor
def succesor(n):
    return n + 1

succesor(2), succesor(3)

(3, 5)